<ion-view title="Automatic Messages" id="page21">
  <ion-content padding="false" class="manual-remove-top-padding has-header">
    <div class="list card" id="automaticMessages-card226">
      <ion-item class="item-icon-left item-icon-right royal" id="automaticMessages-list-item140">
        <i class="icon ion-android-document"></i>Automatic Messages
        <i class="icon ion-chevron-up"></i>
      </ion-item>
      <div class="item item-body" id="automaticMessages-list-item-container28">
        <div id="automaticMessages-markdown41" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Automatically send back messages to your customers even when you're away. Customize these messages to provide your personalized touch to greet and assist your customers.</p>
        </div>
      </div>
      <ion-item class="item-icon-right" id="automaticMessages-list-item141" ui-sref="updateAutomaticMessage()">Welcome Message
        <i class="icon ion-android-radio-button-on"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="automaticMessages-list-item145" ui-sref="updateAutomaticMessage()">Order Confirmed
        <i class="icon ion-android-radio-button-on"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="automaticMessages-list-item146" ui-sref="updateAutomaticMessage()">Order Shipped
        <i class="icon ion-android-radio-button-on"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="automaticMessages-list-item147" ui-sref="updateAutomaticMessage()">Order Delivered
        <i class="icon ion-android-radio-button-on"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="automaticMessages-list-item148" ui-sref="updateAutomaticMessage()">Order Cancelled
        <i class="icon ion-android-radio-button-on"></i>
      </ion-item>
    </div>
    <div class="list card" id="automaticMessages-card228">
      <ion-item class="item-icon-left item-icon-right royal" id="automaticMessages-list-item149">
        <i class="icon ion-android-document"></i>Canned Messages
        <i class="icon ion-chevron-up"></i>
      </ion-item>
      <div class="item item-body" id="automaticMessages-list-item-container29">
        <div id="automaticMessages-markdown42" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Save time by creating canned messages to use when chatting with customers. Type for example
            <code>/thank-you</code> to automatically use your canned message.</p>
        </div>
      </div>
      <ion-item class="item-icon-right" id="automaticMessages-list-item150" ui-sref="updateCannedMessage()">thank-you
        <i class="icon ion-navicon icon-accessory"></i>
        <ion-option-button class="button-assertive">Remove</ion-option-button>
      </ion-item>
      <ion-item class="item-icon-right" id="automaticMessages-list-item155" ui-sref="updateCannedMessage()">store-hours
        <i class="icon ion-navicon icon-accessory"></i>
        <ion-option-button class="button-assertive">Remove</ion-option-button>
      </ion-item>
      <a ui-sref="newCannedMessage()" id="automaticMessages-button56" class="button button-positive button-block">Add Canned Message</a>
    </div>
  </ion-content>
</ion-view>