<ion-view title="Blueberry Products" id="page8">
  <ion-content padding="false" class="manual-remove-top-padding has-header">
    <div class="list card" id="blueberryProducts-card213">
      <ion-item class="item-avatar item-icon-right royal" id="blueberryProducts-list-item65" ui-sref="updateProduct()">
        <img src="img/U50ydqa9RTenmEXmeYF8_blueberry-bowl.jpg">
        <h2royal>Blueberry Bowl
          <p style="white-space:normal;">P75.00</p>
          <i class="icon ion-android-radio-button-on"></i>
          <ion-option-button class="button-balanced">Update</ion-option-button>
          <ion-option-button class="button-assertive">Remove</ion-option-button>
        </h2royal>
      </ion-item>
      <ion-item class="item-avatar item-icon-right royal" id="blueberryProducts-list-item66" ui-sref="updateProduct()">
        <img src="img/zc7bmL6XRU62Nl6pjh3i_strawberry-box.jpg">
        <h2royal>Blueberry Gift Basket
          <p style="white-space:normal;">P350.00</p>
          <i class="icon ion-android-radio-button-on"></i>
          <ion-option-button class="button-balanced">Update</ion-option-button>
          <ion-option-button class="button-assertive">Remove</ion-option-button>
        </h2royal>
      </ion-item>
      <a ui-sref="addProduct()" id="blueberryProducts-button40" class="button button-positive button-block">Add Product</a>
      <a ui-sref="updateCategory()" id="blueberryProducts-button53" class="button button-energized button-block">Edit Blueberry</a>
    </div>
  </ion-content>
</ion-view>