<ion-view title="Delivery" id="page19">
  <ion-content padding="false" class="manual-remove-top-padding has-header">
    <div class="list card" id="delivery-card223">
      <ion-item class="item-icon-left royal" id="delivery-list-item142">
        <i class="icon ion-android-bicycle"></i>Setup Delivery</ion-item>
      <ion-item class="item-icon-right" id="delivery-list-item143">Deliver
        <i class="icon ion-android-radio-button-on"></i>
      </ion-item>
      <ion-item class="item-icon-right energized" id="delivery-list-item144">Pick Up
        <i class="icon ion-android-alert"></i>
      </ion-item>
    </div>
    <div class="list card" id="delivery-card225">
      <div id="delivery-markdown36" class="show-list-numbers-and-dots">
        <p style="color:#000000;">
          <strong>Additional Delivery Methods</strong>
        </p>

        <p style="color:#000000;">Store-e supports additional delivery methods for automated delivery service. Request for activation or know more about this below.</p>
      </div>
      <form id="delivery-form31" class="list">
        <ion-toggle toggle-class="toggle-positive" id="delivery-toggle18">Logistix - Request for info</ion-toggle>
      </form>
    </div>
  </ion-content>
</ion-view>