<ion-view title="Julius Francisco" id="page16">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-royal icon ion-android-alert"></button>
  </ion-nav-buttons>
  <ion-content padding="false" class="manual-remove-top-padding has-header">
    <div class="list card" id="juliusFrancisco-card220">
      <div class="item item-body" id="juliusFrancisco-list-item-container20">
        <div id="juliusFrancisco-markdown26" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#2138E2;">Do you still have Blueberry Basket
            <br>
            <em>2:03pm</em>
          </p>
        </div>
      </div>
      <div class="item item-body" id="juliusFrancisco-list-item-container21">
        <div id="juliusFrancisco-markdown28" style="text-align:right;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#1ED91E;">Yes available pa po ung Blueberry Basket
            <br>
            <em>2:05pm</em>
          </p>
        </div>
      </div>
      <div class="item item-body" id="juliusFrancisco-list-item-container22">
        <div id="juliusFrancisco-markdown29" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#2138E2;">
            <strong>How much po?</strong>
            <br>
            <em>2:06pm</em>
          </p>
        </div>
      </div>
    </div>
    <form id="juliusFrancisco-form26" class="list">
      <label class="item item-input" id="juliusFrancisco-textarea15">
        <span class="input-label">Message</span><textarea placeholder=""></textarea></label>
    </form>
  </ion-content>
</ion-view>