<ion-view title="Messages" id="page12">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-royal icon ion-android-alert"></button>
  </ion-nav-buttons>
  <ion-content padding="false" class="manual-remove-top-padding has-header">
    <form id="messages-form22" class="list">
      <label class="item item-input" id="messages-search5">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="search">
      </label>
    </form>
    <div class="list card" id="messages-card219">
      <ion-item class="item-avatar item-icon-right positive" id="messages-list-item125" ui-sref="juliusFrancisco()">
        <img src="img/fLFf0HSESZSDFAyUPrg1_avatar.jpg">
        <h2positive>Julius Francisco
          <p>How much po?</p>
          <i class="icon ion-android-alert"></i>
        </h2positive>
      </ion-item>
      <ion-item class="item-avatar item-icon-right positive" id="messages-list-item127" ui-sref="juliusFrancisco()">
        <img src="img/fLFf0HSESZSDFAyUPrg1_avatar.jpg">
        <h2positive>Bella Frivaldo
          <p>Send payment na po</p>
          <i class="icon ion-android-alert"></i>
        </h2positive>
      </ion-item>
      <ion-item class="item-avatar item-icon-right positive" id="messages-list-item128" ui-sref="juliusFrancisco()">
        <img src="img/fLFf0HSESZSDFAyUPrg1_avatar.jpg">
        <h2positive>Richard Gonzales
          <p>Meron po ba kayo basket for cherries?</p>
          <i class="icon ion-android-alert"></i>
        </h2positive>
      </ion-item>
      <ion-item class="item-avatar positive" id="messages-list-item129" ui-sref="juliusFrancisco()">
        <img src="img/fLFf0HSESZSDFAyUPrg1_avatar.jpg">
        <h2positive>Marge Enerio
          <p>Thank you po!</p>
        </h2positive>
      </ion-item>
      <ion-item class="item-avatar positive" id="messages-list-item130" ui-sref="juliusFrancisco()">
        <img src="img/fLFf0HSESZSDFAyUPrg1_avatar.jpg">
        <h2positive>Mells Limcaoco
          <p>May available pa ba?</p>
        </h2positive>
      </ion-item>
      <ion-item class="item-avatar positive" id="messages-list-item131" ui-sref="juliusFrancisco()">
        <img src="img/fLFf0HSESZSDFAyUPrg1_avatar.jpg">
        <h2positive>Michelle Curran
          <p>May available pa ba?</p>
        </h2positive>
      </ion-item>
    </div>
  </ion-content>
</ion-view>