<ion-view title="New Product Category" id="page17">
  <ion-content padding="false" class="manual-remove-top-padding has-header">
    <div class="list card" id="newProductCategory-card221">
      <form id="newProductCategory-form28" class="list">
        <label class="item item-input" id="newProductCategory-input32">
          <span class="input-label">Name</span>
          <input type="text" placeholder="Category Name">
        </label>
        <label class="item item-input" id="newProductCategory-textarea16">
          <span class="input-label">Description</span><textarea placeholder="Category description"></textarea></label>
        <div class="item item-body" id="newProductCategory-list-item-container23">
          <div id="newProductCategory-markdown31" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">
              <strong>Add Image</strong>
            </p>
          </div>
        </div>
        <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
          <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <ion-toggle toggle-class="toggle-positive" id="newProductCategory-toggle15">Toggle</ion-toggle>
      </form>
      <a ui-sref="products()" id="newProductCategory-button51" class="button button-positive button-block">Save Category</a>
    </div>
  </ion-content>
</ion-view>