<ion-view title="Order 0001" id="page5">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-royal icon ion-chevron-down"></button>
  </ion-nav-buttons>
  <ion-content padding="false" class="manual-remove-top-padding has-header">
    <div class="list card" id="order001-card25">
      <ion-item class="item-avatar item-icon-right royal" id="order001-list-item41" ui-sref="juliusFrancisco()">
        <img src="img/liX911gpTBCi4YWMImg6_c30ceb1b-fbd3-4085-b31f-618254806e04.jpeg">
        <h2royal>Customer
          <p>Annabelle Francisco</p>
          <i class="icon ion-chatbubble"></i>
        </h2royal>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="order001-list-item36">
        <img src="img/UPdxfi2iTBCq7S7jrb9j_candyberries.jpg">
        <h2>P300.00 Mixed Berries</h2>
        <p style="white-space:normal;">Blueberry x1, Raspberry x1 Strawberry x2</p>
        <i class="icon ion-navicon icon-accessory"></i>
        <ion-option-button class="button-energized">Details</ion-option-button>
        <ion-option-button class="button-assertive">Remove</ion-option-button>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="order001-list-item38">
        <img src="img/iEwrS4bRY2ty7PbIM7sB_strawberry-shake.jpg">
        <h2>P100.00 Strawberry Shake</h2>
        <i class="icon ion-navicon icon-accessory"></i>
        <ion-option-button class="button-energized">Details</ion-option-button>
        <ion-option-button class="button-assertive">Remove</ion-option-button>
      </ion-item>
      <form id="order001-form8" class="list">
        <ion-list id="order001-list9">
          <ion-item id="order001-list-item94">Total
            <span class="item-note">P400.00</span>
          </ion-item>
          <ion-item class="item-icon-right" id="order001-list-item97">Delivery Fee
            <span class="item-note">P89.00</span>
            <i class="icon ion-navicon icon-accessory"></i>
            <ion-option-button class="button-energized">Edit</ion-option-button>
          </ion-item>
          <ion-item class="item-icon-right" id="order001-list-item98">Discount
            <span class="item-note">P0.00</span>
            <i class="icon ion-navicon icon-accessory"></i>
            <ion-option-button class="button-energized">Edit</ion-option-button>
          </ion-item>
          <ion-item id="order001-list-item95">Grand Total
            <span class="item-note">P489.00</span>
          </ion-item>
          <label class="item item-select" id="order001-select6">
            <span class="input-label">Select</span>
            <select>
              <option>-- Update Status --</option>
              <option>Updated</option>
              <option>Confirmed</option>
              <option>Shipped</option>
              <option>Picked Up</option>
              <option>Delivered</option>
              <option>Cancelled</option>
            </select>
          </label>
          <label class="item item-input" id="order001-textarea1">
            <span class="input-label">Message:</span><textarea placeholder="optional message"></textarea></label>
        </ion-list>
        <a ui-sref="orders()" id="order001-button34" class="button button-positive button-block">Update and Send Message</a>
      </form>
    </div>
    <div class="list card" id="order001-card26">
      <ion-item class="royal" id="order001-list-item43">Details
        <span class="item-note">Status: Confirmed</span>
      </ion-item>
      <div class="item item-body" id="order001-list-item-container6">
        <div id="order001-markdown8" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Address</strong>: 25 Hyundai St., Vill. East, Cainta, Rizal
            <br>
            <strong>Phone</strong>: 09271563281
            <br>
            <strong>Source</strong>: Messenger</p>

          <p style="color:#000000;">
            <strong>Order Date</strong>: Nov. 20, 2020 02:39PM</p>
        </div>
      </div>
    </div>
    <div class="list card" id="order001-card28">
      <ion-item class="royal" id="order001-list-item46">Attachments</ion-item>
      <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider5" delegate-handle="slider5" id="order001-slider5" style="width:100%;height:200px;">
        <ion-slide-page id="order001-slide27" style="background:url(&quot;img/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;">
          <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
          </div>
        </ion-slide-page>
        <ion-slide-page id="order001-slide28" style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;">
          <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
          </div>
        </ion-slide-page>
        <ion-slide-page id="order001-slide29" style="background:url(&quot;img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg&quot;) no-repeat center;background-size:cover;">
          <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
          </div>
        </ion-slide-page>
      </ion-slides>
    </div>
    <div class="list card" id="order001-card210">
      <ion-item class="royal" id="order001-list-item51">History and Messenges</ion-item>
      <div class="item item-body" id="order001-list-item-container11">
        <div id="order001-markdown13" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Nov 20, 02:39PM</strong> - Order Placed</p>

          <p style="color:#000000;">
            <strong>Dec 01, 11:30 AM</strong> - Customer Update received
            <br>Payment received</p>

          <p style="color:#000000;">
            <strong>Dec 01, 11:55 AM</strong> - Order CONFIRMED
            <br>Confirmed by storeadmin@company.com</p>

          <p style="color:#000000;">
            <strong>Dec 01, 2:05 AM</strong> - Order Shipped</p>
        </div>
      </div>
      <a ui-sref="juliusFrancisco()" id="order001-button25" class="button button-positive button-block">Send Message</a>
    </div>
  </ion-content>
</ion-view>