<ion-view title="Orders" id="page4">
  <ion-content padding="false" class="manual-remove-top-padding has-header">
    <form id="orders-form10" class="list">
      <label class="item item-input" id="orders-search4">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="search order">
      </label>
      <label class="item item-select" id="orders-select4">
        <span class="input-label">Filter by Status</span>
        <select>
          <option>-- Status --</option>
          <option>Placed</option>
          <option>Updated</option>
          <option>Confirmed</option>
          <option>Processing</option>
          <option>Shipped</option>
          <option>Picked Up</option>
          <option>Delivered</option>
          <option>Cancelled</option>
        </select>
      </label>
    </form>
    <div class="list card" id="orders-card24">
      <ion-item class="item-icon-right balanced" id="orders-list-item81">Open Orders
        <i class="icon ion-chevron-down"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right positive" id="orders-list-item75" ui-sref="order001()">
        <img src="img/fLFf0HSESZSDFAyUPrg1_avatar.jpg">
        <h2positive>0rder 0003 [Placed]
          <p style="white-space:normal;">Annabelle Francisco</p>
          <i class="icon ion-android-alert"></i>
        </h2positive>
      </ion-item>
      <ion-item class="item-avatar positive" id="orders-list-item77" ui-sref="order001()">
        <img src="img/fLFf0HSESZSDFAyUPrg1_avatar.jpg">
        <h2positive>0rder 0002 [Confirmed]
          <p style="white-space:normal;">Julius</p>
        </h2positive>
      </ion-item>
      <div class="spacer" style="width: 300px; height: 23.9931px;"></div>
      <ion-item class="item-icon-right" id="orders-list-item82">Completed Orders
        <i class="icon ion-chevron-down"></i>
      </ion-item>
      <ion-item class="item-avatar" id="orders-list-item78" ui-sref="order001()">
        <img src="img/fLFf0HSESZSDFAyUPrg1_avatar.jpg">
        <h2>0rder 0001 [Delivered]</h2>
        <p style="white-space:normal;">Jerry Pascua</p>
      </ion-item>
    </div>
  </ion-content>
</ion-view>