<ion-view title="Payments" id="page13">
  <ion-content padding="false" class="manual-remove-top-padding has-header">
    <div class="list card" id="payments-card212">
      <ion-item class="item-icon-left royal" id="payments-list-item110">
        <i class="icon ion-card"></i>Setup Payments</ion-item>
      <ion-item class="item-icon-right" id="payments-list-item111">Cash on Delivery
        <i class="icon ion-android-radio-button-on"></i>
      </ion-item>
      <ion-item class="item-icon-right energized" id="payments-list-item112" ui-sref="updatePayment()">Bank Transfer
        <i class="icon ion-android-alert"></i>
      </ion-item>
      <a ui-sref="setupNewPayment()" id="payments-button47" class="button button-calm button-block">Setup New Payment</a>
      <div class="item item-body" id="payments-list-item-container13">
        <div id="payments-markdown18" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Automated Payments</strong>
          </p>

          <p style="color:#000000;">Apply for a PayBiz account to accept online payments via credit cards, GCash, bank transfers, etc.</p>
        </div>
      </div>
      <form id="payments-form15" class="list">
        <ion-toggle toggle-class="toggle-balanced" id="payments-toggle4">Apply for PayBiz account</ion-toggle>
      </form>
    </div>
  </ion-content>
</ion-view>