<ion-view title="Products" id="page7">
  <ion-content padding="false" class="manual-remove-top-padding has-header">
    <div class="list card" id="products-card23">
      <ion-item class="item-avatar item-icon-right royal" id="products-list-item58" ui-sref="blueberryProducts()">
        <img src="img/U50ydqa9RTenmEXmeYF8_blueberry-bowl.jpg">
        <h2royal>Blueberry
          <p style="white-space:normal;">Blueberries provide great antioxidants</p>
          <i class="icon ion-android-radio-button-on"></i>
          <ion-option-button class="button-positive"></ion-option-button>
        </h2royal>
      </ion-item>
      <ion-item class="item-avatar item-icon-right royal" id="products-list-item52">
        <img src="img/U50ydqa9RTenmEXmeYF8_blueberry-bowl.jpg">
        <h2royal>Raspberry
          <p style="white-space:normal;">Raspberries are great for increasing your immune system</p>
          <i class="icon ion-android-radio-button-on"></i>
          <ion-option-button class="button-positive"></ion-option-button>
        </h2royal>
      </ion-item>
      <ion-item class="item-avatar item-icon-right royal" id="products-list-item64">
        <img src="img/U50ydqa9RTenmEXmeYF8_blueberry-bowl.jpg">
        <h2royal>Strawberry
          <p style="white-space:normal;">Strawberries provide great for great snacks and sweets</p>
          <i class="icon ion-android-radio-button-off"></i>
          <ion-option-button class="button-positive"></ion-option-button>
        </h2royal>
      </ion-item>
      <a ui-sref="blueberryProducts()" id="products-button39" class="button button-positive button-block">Add Product Category</a>
    </div>
  </ion-content>
</ion-view>