<ion-view title="Settings" id="page10">
  <ion-content padding="false" class="manual-remove-top-padding has-header">
    <div class="list card" id="settings-card27">
      <ion-item class="royal" id="settings-list-item99" ui-sref="products()">Products</ion-item>
      <ion-item class="item-icon-right royal" id="settings-list-item100" ui-sref="payments()">Payments
        <span class="item-note">setup</span>
        <i class="icon ion-android-alert"></i>
      </ion-item>
      <ion-item class="item-icon-right royal" id="settings-list-item101" ui-sref="delivery()">Deliveries
        <span class="item-note">setup</span>
        <i class="icon ion-android-alert"></i>
      </ion-item>
      <ion-item class="royal" id="settings-list-item102">Canned Messages</ion-item>
      <a ui-sref="storeE()" id="settings-button44" class="button button-energized button-block">Logout</a>
    </div>
  </ion-content>
</ion-view>