<ion-view title="Setup New Payment" id="page14">
  <ion-content padding="false" class="manual-remove-top-padding has-header">
    <div class="list card" id="setupNewPayment-card217">
      <div class="item item-body" id="setupNewPayment-list-item-container14">
        <div id="setupNewPayment-markdown19" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>New Manual Payment</strong>
          </p>
        </div>
      </div>
      <form id="setupNewPayment-form18" class="list">
        <label class="item item-input" id="setupNewPayment-input22">
          <span class="input-label">Label</span>
          <input type="text" placeholder="i.e. Paymaya or GCash">
        </label>
        <div class="item item-body" id="setupNewPayment-list-item-container15">
          <div id="setupNewPayment-markdown20" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">
              <strong>Customer Instructions</strong>
            </p>
          </div>
        </div>
        <label class="item item-input" id="setupNewPayment-textarea12">
          <span class="input-label">Message</span><textarea placeholder="Provide instructions to your customer on how to pay here"></textarea></label>
        <ion-toggle toggle-class="toggle-positive" id="setupNewPayment-toggle7">Enable Now</ion-toggle>
        <a ui-sref="payments()" id="setupNewPayment-button48" class="button button-calm button-block">Save</a>
      </form>
    </div>
  </ion-content>
</ion-view>