<ion-view title="Store-e" hide-back-button="true" id="page1">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/EyFD9wL4TTGxPr97UOE6_Store-eChat-CommerceLogoWhite.png" style="display: block; width: auto; height: 175px; margin-left: auto; margin-right: auto;">
    </div>
    <form id="storeE-form6" class="list">
      <ion-list id="storeE-list7">
        <label class="item item-input" id="storeE-input7">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="storeE-input8">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="dashboard()" id="storeE-button43" class="button button-positive button-block">Login</a>
      <div id="storeE-markdown17" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">
          <a href="http://example.com/">Forgot Password?</a>
        </p>
      </div>
    </form>
  </ion-content>
</ion-view>