<ion-view title="Update Category" id="page18">
  <ion-content padding="false" class="manual-remove-top-padding has-header">
    <div class="list card" id="updateCategory-card222">
      <form id="updateCategory-form29" class="list">
        <label class="item item-input" id="updateCategory-input33">
          <span class="input-label">Name</span>
          <input type="text" placeholder="Blueberry">
        </label>
        <label class="item item-input" id="updateCategory-textarea17">
          <span class="input-label">Description</span><textarea placeholder="Blueberries provide great antioxidants"></textarea></label>
        <div class="item item-body" id="updateCategory-list-item-container24">
          <div id="updateCategory-markdown32" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">
              <strong>Add Image</strong>
            </p>
          </div>
        </div>
        <div>
          <img src="img/U50ydqa9RTenmEXmeYF8_blueberry-bowl.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <ion-toggle toggle-class="toggle-positive" ng-checked="true" id="updateCategory-toggle16">Toggle</ion-toggle>
      </form>
      <a ui-sref="blueberryProducts()" id="updateCategory-button52" class="button button-positive button-block">Save Category</a>
    </div>
  </ion-content>
</ion-view>