<ion-view title="Update Product" id="page11">
  <ion-content padding="false" class="manual-remove-top-padding has-header">
    <div class="list card" id="updateProduct-card29">
      <ion-item class="item-avatar royal" id="updateProduct-list-item105" ui-sref="blueberryProducts()">
        <img src="img/LsmPNdkdR4GwVhSEwzot_blueberry-bowl.jpg">
        <h2royal>Blueberry Products
          <p>Product Category</p>
        </h2royal>
      </ion-item>
      <form id="updateProduct-form14" class="list">
        <label class="item item-input" id="updateProduct-input16">
          <span class="input-label">Name</span>
          <input type="text" placeholder="Blueberry Bowl">
        </label>
        <label class="item item-input" id="updateProduct-input17">
          <span class="input-label">Price</span>
          <input type="number" placeholder="75.00">
        </label>
        <label class="item item-input" id="updateProduct-input19">
          <span class="input-label">Description</span>
          <input type="text" placeholder="Try our Blueberry Bowl for a perfect healthy snack!">
        </label>
        <label class="item item-input" id="updateProduct-input18">
          <span class="input-label">In Stock</span>
          <input type="number" placeholder="47">
        </label>
        <ion-item class="range range-positive" id="updateProduct-range3">
          <input type="range" value="10" min="0" max="100" step="1">
        </ion-item>
      </form>
      <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider9" delegate-handle="slider9" id="updateProduct-slider9" style="width:100%;height:200px;">
        <ion-slide-page id="updateProduct-slide24" style="background:url(&quot;img/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;">
          <div>
            <img src="img/U50ydqa9RTenmEXmeYF8_blueberry-bowl.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
          </div>
        </ion-slide-page>
        <ion-slide-page id="updateProduct-slide25" style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;">
          <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
          </div>
        </ion-slide-page>
        <ion-slide-page id="updateProduct-slide26" style="background:url(&quot;img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg&quot;) no-repeat center;background-size:cover;">
          <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
          </div>
        </ion-slide-page>
      </ion-slides>
      <a ui-sref="blueberryProducts()" id="updateProduct-button45" class="button button-positive button-block">Save Product</a>
    </div>
  </ion-content>
</ion-view>