<ion-view title="Update Automatic Message" id="page24">
  <ion-content padding="false" class="manual-remove-top-padding has-header">
    <div class="list card" id="updateAutomaticMessage-card233">
      <div class="item item-body" id="updateAutomaticMessage-list-item-container35">
        <div id="updateAutomaticMessage-markdown49" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Update Welcome Message</strong>
          </p>
        </div>
      </div>
      <form id="updateAutomaticMessage-form27" class="list">
        <ion-list id="updateAutomaticMessage-list17">
          <label class="item item-input" id="updateAutomaticMessage-input42">
            <span class="input-label">Label</span>
            <input type="text" placeholder="thank-you">
          </label>
          <label class="item item-input" id="updateAutomaticMessage-textarea18">
            <span class="input-label">Message</span><textarea placeholder="Thank you for choosing to buy from our store! Come back soon!"></textarea></label>
        </ion-list>
        <a ui-sref="automaticMessages()" id="updateAutomaticMessage-button60" class="button button-positive button-block">Save</a>
      </form>
    </div>
  </ion-content>
</ion-view>