<ion-view title="Update Canned Message" id="page23">
  <ion-content padding="false" class="manual-remove-top-padding has-header">
    <div class="list card" id="updateCannedMessage-card232">
      <div class="item item-body" id="updateCannedMessage-list-item-container34">
        <div id="updateCannedMessage-markdown48" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Update</strong>
            <code>thank-you</code>
          </p>
        </div>
      </div>
      <form id="updateCannedMessage-form25" class="list">
        <ion-list id="updateCannedMessage-list16">
          <label class="item item-input" id="updateCannedMessage-input41">
            <span class="input-label">Label</span>
            <input type="text" placeholder="thank-you">
          </label>
          <label class="item item-input" id="updateCannedMessage-textarea14">
            <span class="input-label">Message</span><textarea placeholder="Thank you for choosing to buy from our store! Come back soon!"></textarea></label>
        </ion-list>
        <a ui-sref="automaticMessages()" id="updateCannedMessage-button59" class="button button-positive button-block">Save</a>
      </form>
    </div>
  </ion-content>
</ion-view>