<ion-view title="Update Payment" id="page15">
  <ion-content padding="false" class="manual-remove-top-padding has-header">
    <div class="list card" id="updatePayment-card218">
      <div class="item item-body" id="updatePayment-list-item-container16">
        <div id="updatePayment-markdown21" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Update Bank Transfer</strong>
          </p>
        </div>
      </div>
      <form id="updatePayment-form19" class="list">
        <label class="item item-input" id="updatePayment-input24">
          <span class="input-label">Label</span>
          <input type="text" placeholder="Bank Transfer">
        </label>
        <div class="item item-body" id="updatePayment-list-item-container17">
          <div id="updatePayment-markdown22" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">
              <strong>Customer Instructions</strong>
            </p>
          </div>
        </div>
        <label class="item item-input" id="updatePayment-textarea13">
          <span class="input-label">Message</span><textarea placeholder="For BPI Payments, please send payment to account number 5022XXXXXX"></textarea></label>
        <ion-toggle toggle-class="toggle-positive" id="updatePayment-toggle8">Enable Now</ion-toggle>
        <a ui-sref="payments()" id="updatePayment-button49" class="button button-calm button-block">Save</a>
      </form>
    </div>
  </ion-content>
</ion-view>