<ion-view title="Update Delivery" id="page20">
  <ion-content padding="false" class="manual-remove-top-padding has-header">
    <div class="list card" id="updateDelivery-card211">
      <div class="item item-body" id="updateDelivery-list-item-container7">
        <div id="updateDelivery-markdown11" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Update Pick Up</strong>
          </p>
        </div>
      </div>
      <form id="updateDelivery-form13" class="list">
        <ion-list id="updateDelivery-list11">
          <label class="item item-input" id="updateDelivery-input27">
            <span class="input-label">Label</span>
            <input type="text" placeholder="Pick Up">
          </label>
        </ion-list>
      </form>
    </div>
    <div class="list card" id="updateDelivery-card224">
      <div id="updateDelivery-markdown24" class="show-list-numbers-and-dots">
        <p style="color:#000000;">
          <strong>Pick Up Addresses</strong>
        </p>

        <p style="color:#000000;">Provide your pick up addresses below:</p>
      </div>
      <form id="updateDelivery-form16" class="list">
        <ion-list id="updateDelivery-list12">
          <div class="item item-body" id="updateDelivery-list-item-container18">
            <div id="updateDelivery-markdown30" class="show-list-numbers-and-dots">
              <p style="margin-top:0px;color:#000000;">
                <strong>Address 1</strong>
              </p>
            </div>
          </div>
          <label class="item item-input" id="updateDelivery-input30">
            <span class="input-label">Name</span>
            <input type="text" placeholder="Store - Main">
          </label>
          <label class="item item-input" id="updateDelivery-textarea7">
            <span class="input-label">Location</span><textarea placeholder="123 Downing Street, City, Zip code"></textarea></label>
        </ion-list>
      </form>
      <div class="item item-body" id="updateDelivery-list-item-container19">
        <div id="updateDelivery-markdown34" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Address 2</strong>
          </p>
        </div>
      </div>
      <form id="updateDelivery-form17" class="list">
        <label class="item item-input" id="updateDelivery-input31">
          <span class="input-label">Name</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="updateDelivery-textarea8">
          <span class="input-label">Location</span><textarea placeholder=""></textarea></label>
      </form>
      <button id="updateDelivery-button54" class="button button-positive button-block">New Pick Up Address</button>
    </div>
  </ion-content>
</ion-view>